name: helm_test
 
on:
  push:
    # automagically run for push to main
    branches:
      - main

  workflow_dispatch:

env:
  AWS_REGION: us-west-2
  CLUSTER_NAME: cluster-name
  TAG: ${{ github.run_number }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
  
    steps:
      - name: runner preparation
        run: |
          sudo apt update -y 

      - name: repo checkout
        uses: actions/checkout@v3
      
      - name: assume AWS role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ vars.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
          role-duration-seconds: 1200
          role-session-name: ${{ github.run_number}}-role

      - name: sts diagnostic
        run: aws sts get-caller-identity

        

          # 
#    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

#      - name: runner preparation
#        run: |
#          sudo apt update -y 
#          sudo apt install jq awscli -y
#

#      - name: assume oidc role
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-region: ${{ env.AWS_REGION }}
#          role-duration-seconds: 1200
#          role-session-name: ${{ github.run_number}}-role
#          role-to-assume: arn:aws:iam::157:role/github_oidc_role
#
#      - name: oidc diagnostic
#        run: aws sts get-caller-identity

#      - name: assume aws eks role
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ${{ env.AWS_REGION }}
#          role-duration-seconds: 1200
#          role-session-name: ${{ github.run_number}}-role
#          role-to-assume: arn:aws:iam::157:role/github_action_role

# helm install turtle funny-turtle/ --values funny-turtle/values.yaml -n turtle

#      - name: kubeconfing
#        run: aws eks update-kubeconfig --name ${{ env.CLUSTER_NAME }} --region ${{ env.AWS_REGION }}

#      - name: helm deploy
#        uses: bitovi/github-actions-deploy-eks-helm@v1.1.0
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ${{ env.AWS_REGION }}
#          cluster-name: ${{ env.CLUSTER_NAME }}
#          cluster-role-arn: arn:aws:iam::157:role/github_action_role
#          config-files: helm/funny-turtle/values.yaml
#          chart-path: helm/funny-turtle
#          name: turtle
#          namespace: turtle
