name: syntax1

on:
  workflow_dispatch:
    inputs:
      deployment:
        default: development
        description: 'deployment environment'
        required: true
        type: choice
        options:
        - development
        - production primary
        - production alternate
      release:
        default: '1.0.0'
        description: 'release version'
        required: true

env:
  AWS_REGION: us-west-2
  BOGUS: bogus
  CLUSTER_NAME: cluster-name
  ERROR_FLAG: ${{ false }}
  TAG: ${{ github.run_number }}

jobs:
  tapdancer:
    # always build and package
    runs-on: ubuntu-latest

    steps:
      - run: echo ${{ env.BOGUS }}

      - run: echo ${{ github.event.inputs.deployment }}

      - name: step 1
        id: xxx
        run: |
          echo "FLAG=bogus" >> $GITHUB_OUTPUT;

          if [[ "${{ github.event.inputs.deployment }}" == "production primary" ]]; then \
            echo "FLAG=primary" >> $GITHUB_OUTPUT; \
          fi

      - run: echo ${{ steps.xxx.outputs.FLAG }}

      - name: step 2
        if: ${{ startsWith(github.event.inputs.deployment, 'production') }}
        run: echo "prod noted"
