name: syntax2

on:
  push:
    branches:
    - develop
    - master
  workflow_dispatch:
    inputs:
      target:
        type: choice
        description: 'target environment'
        default: dev
        required: true
        options:
        - dev
        - prod-us-pri
        - prod-us-alt
      repo-tag:
        description: 'release tag'
        default: 'latest'
        required: true

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:
      - name: sanity 1
        run: echo ${{ github.event.inputs.target }}

      - name: env-prep
        run: |
          echo "IS_PROD=${{ startsWith(github.event.inputs.target, 'prod') }}" >> $GITHUB_OUTPUT;
      
      - name: compare1
        if: steps.env-prep.outputs.IS_PROD == true
        run: echo "IS_PROD noted";

      - name: compare2
        if: steps.env-prep.outputs.IS_PROD != true
        run: echo "IS_PROD false";

      - name: compare3
        if: ${{ startsWith(github.event.inputs.target, 'prod') }} == true
        run: echo "true true true"

      - name: compare4
        if: ${{ startsWith(github.event.inputs.target, 'prod') }} != true
        run: echo "false false false"

      - name: compare5
        run: echo ${{ startsWith(github.event.inputs.target, 'prod') }}